body {
    font-family: system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0b202d;
    margin: 0;
    overflow: hidden;
    user-select: none;              /* Современные браузеры */
    -webkit-user-select: none;      /* Safari и старые версии Chrome */
    -moz-user-select: none;         /* Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    -webkit-user-drag: none;        /* Safari и старые версии Chrome */
    user-drag: none;                /* Стандартный способ */
    -webkit-touch-callout: none;    /* Отключение вызова контекстного меню на iOS */
}
.container {
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
    top: 10%;
    background: #191919;
    position: fixed;
    border: 2.5px solid #285d7f;
    border-radius: 35px;
    box-shadow: 0px -20px 20px 20px #102c3f;
    padding-top: 35px;
}
.progress {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

@keyframes progress {
    0% {
        background-size: 100% 100%;
    }
    50% {
        background-size: 120% 150%;
    }
    100% {
        background-size: 100% 100%;
    }
}


.procent {
    position: relative;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.procentt {
    position: relative;
    height: 15px;
    width: 85%;
    background: #2f2f2f;
    border-radius: 20px;
    border: 0.5px solid rgb(71 71 71);
}

.procentt::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--progress-width, 0%); 
    background-image: linear-gradient(to right top, #051937, #532c5a, #9f3f60, #d5684e, #e3a738);
    border-radius: 20px;
}

.plus-one {
    pointer-events: none;
}

h1 {
    margin-bottom: 20px;
}
.menu {
    position: fixed;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    bottom: 15px;
    height: 75px;
    align-items: center;
    border-radius: 25px;
    background: #2d2c2e;
    padding: 7px;
}

.cl {
    position: relative;
    height: 100%;
    background: none;
    border: none;
    border-radius: 25%;
    width: 25%;
}
.cl.active {
    background: #1a1a1a;
}
.click-area {
    position: relative;
    width: 270px;
    height: 270px;
    background-color: #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 16px solid #1f3c4d;
}

.click-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: #265b7d;
    box-shadow: inset 0px 0 20px 20px #0a2333;
    opacity: 0.86;
}

.plus-one {
    position: absolute;
    font-size: 35px;
    opacity: 0;
    pointer-events: none;
    animation: fadeOut 1s forwards;
}

button:focus {
    outline: none; 
    box-shadow: none;
  }
  
.activeP {
    color: white;
}
.inactiveP {
    color: #a7a7a7;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-150px);
    }
}

.shop {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.item {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: #000000;
}

.item:hover {
    background-color: #f9f9f9;
}

.coin-image {
    width: 20px; /* Размер изображения монеты */
    vertical-align: middle;
}

p {
    margin: 10px 0;
}

/* Все остальные стили остаются теми же */

.circle-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    top: 0;
    left: 0;
}

/* Все остальные стили остаются теми же */

.top-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.coin-box {
    /* background-color: #868686; */
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.coin-image {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

#coins {
    font-size: 40px;
    font-weight: bold;
}